<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lc.mapper.CountryMapper">
    <select id="selectAllCountries" resultType="Country">
        select * from hr.countries
    </select>

    <select id="selectCountries" resultType="Country">
        select * from hr.countries where country_name=#{param1}
    </select>
</mapper>
